@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: #3c56d8;
  --color-primary-hover: #1d3bcf;
  --color-dark-border: #242424;
  --color-background: #2a2a2a;
  --color-links: #03005b;
  --color-border: #121d56;
  --color-text: #f1f1f1;
  --color-dark-white: #e1e1e3;

  /* spacing sizes */
  --spacing-xs: 6px;
  --spacing-sm: 8px;
  --spacing-caption: 14px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 36px;
  --spacing-3xl: 44px;
  --spacing-4xl: 52px;

  /* font sizes */
  --text-xs: 6px;
  --text-sm: 8px;
  --text-caption: 14px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
  --text-2xl: 36px;
  --text-3xl: 44px;
  --text-4xl: 52px;

  /* shadow size */
  --shadow-uniform: 0 4px 4px black;
}

body {
  @apply absolute top-0 bg-background;
}

#app {
  @apply px-md md:p-4xl w-screen h-screen bg-transparent;
}

/* header styles */
.header {
  @apply sticky top-0 w-screen z-50 px-md py-caption shadow-uniform bg-background;
}
.header .svg {
  @apply block w-3xl h-3xl p-2.5;
}
.header > div {
  @apply flex justify-between w-full;
}
.header > div > div {
  @apply flex w-fit gap-xs;
}

/* Footer styles */
.footer {
  @apply absolute bottom-0 bg-dark-border w-screen text-sm font-normal text-text px-md py-caption md:px-4xl md:py-md;
}
.footer > div {
  @apply flex justify-between items-center w-full h-fit;
}
.footer > div > div {
  @apply w-fit flex items-center gap-sm h-fit;
}
.footer img {
  @apply w-14 h-fit;
}
.footer p {
  @apply w-fit h-fit;
}

/* Buttons */
/* main button */
.button-main,
.button-main-icon {
  @apply px-caption py-3 rounded-lg bg-primary font-medium text-text text-md;
}
.button-main:hover,
.button-main-icon:hover {
  @apply bg-primary-hover -translate-y-1 shadow-uniform;
}

/* secondary button */
.secondary-button,
.secondary-button-icon {
  @apply px-caption py-3 rounded-lg border-2 border-primary font-light text-text text-md;
}
.secondary-button:hover,
.secondary-button-icon:hover {
  @apply border-primary-hover -translate-y-1 shadow-uniform;
}

/* Buttons with icon */
.button-main-icon,
.secondary-button-icon {
  @apply flex gap-sm;
}

/* Input styles */
.input {
  @apply w-full h-fit p-sm font-medium text-md text-background bg-dark-white border-2 border-dark-border rounded-lg;
}
.input:hover,
.input:focus {
  @apply -translate-y-1 bg-text shadow-uniform;
}

/* Texts styles */
/* Heading */
.heading {
  @apply w-full py-sm flex justify-center items-center;
}
.heading h1 {
  @apply w-fit h-fit text-dark-white text-lg font-bold;
}

/* Label */
.label {
  @apply w-full h-fit py-xs;
}
.label h4 {
  @apply w-full h-fit text-left text-text font-medium text-caption;
}
