@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: #3c56d8;
  --color-primary-hover: #1d3bcf;
  --color-dark-border: #242424;
  --color-background: #2a2a2a;
  --color-links: #03005b;
  --color-border: #121d56;
  --color-text: #f1f1f1;
  --color-dark-white: #e1e1e3;

  /* spacing sizes */
  --spacing-xs: 6px;
  --spacing-sm: 8px;
  --spacing-caption: 14px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 36px;
  --spacing-3xl: 44px;
  --spacing-4xl: 52px;

  /* font sizes */
  --text-xs: 6px;
  --text-sm: 8px;
  --text-caption: 14px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
  --text-2xl: 36px;
  --text-3xl: 44px;
  --text-4xl: 52px;

  /* shadow size */
  --shadow-uniform: 0 4px 4px black;
}

body {
  @apply absolute top-0 bg-background;
}

#app {
  @apply px-md md:p-4xl w-screen h-screen bg-background;
}

/* header styles */
#header {
  @apply sticky top-0 w-screen z-50 px-md py-caption shadow-uniform;
}
#header #svg {
  @apply block w-3xl h-3xl p-2.5;
}
#header > div {
  @apply flex justify-between w-full;
}
#header > div > div {
  @apply flex w-fit gap-xs;
}

/* Buttons */
/* main button */
#button-main {
  @apply px-caption py-3 rounded-lg bg-primary font-medium text-text text-md;
}
#button-main:hover {
  @apply bg-primary-hover -translate-y-1 shadow-uniform;
}
